* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    background-color: #b87333;
    justify-content: space-between;
    padding: 12px 50px;
    height: 80px;
    align-items: center;
}

.logo {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100px;
    width: 80px;
    height: 60px;
}

.menu {
    flex: 3;
    display: flex;
    color: #ffffff;
    position: relative;
}

.menu li {
    padding: 0 12px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
}

.menu li:hover {
    font-weight: bold;
}

.menu > li a {
    font-size: 12px;
    display: block;
}

.sub-menu {
    position: absolute;
    border: 1px solid #f7d6b7;
    background-color: #f7d6b7;
    padding: 10px 0px 10px 20px;
    display: none;
    top: 100%;
    left: 0;
    width: 900px;
    height: 1000px;
}

.menu > li:hover .sub-menu {
    display: block; /* Hiển thị sub-menu khi rê chuột vào mục "THỰC ĐƠN" */
}

.menu li a {
    padding: 10px 15px;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
}

.others {
    flex: 1;
    display: flex;
}

.others li {
    padding: 0 12px;
}


.others li:first-child {
    position: relative;
}

.others li:first-child input {
    width: 100%;
}

.others li:first-child i {
    position: absolute;
    right: 10px;
}

#search-box {
    background: #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center; 
    padding: 5px;
    margin-top: 18px;
    margin-right: 15px;
}

#search-box #search-text {
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: none;
    width: 170px;
    height: 30px;
    font-size: 18px;
    padding: 0px 30px 0px 10px;
    flex-grow: 1;
}

#search-box #search-btn {
    position: relative;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    margin-left: 10px;
}

#search-box #search-btn > i {
    padding-left: 0;
    font-size: 20px;
}

.fa-cart-arrow-down {
    font-size: 30px; 
    cursor: pointer;
    margin-top: 22px;
    margin-right: 15px;
    color: #ffffff;
}

.fa-user {
    font-size: 30px; 
    cursor: pointer;
    margin-top: 22px;
    margin-left: 5px;
    color: #ffffff;
}

.fa-cart-arrow-down:hover {
    cursor: pointer;
    color: #7e440e;
}

.fa-user:hover {
    cursor: pointer;
    color: #7e440e;
}